<!DOCTYPE HTML>
<html>
    <head>
        <title>DevOps Team 5 Settings Page</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/settings.css')}}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- Resources for the Date Range Picker-->
        <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    </head>
    <body>
        <header>
            <div class="container">
                <strong>
                    <nav>
                        <ul class="menu">
                            <li><a href="{{ url_for('upload_data') }}">Upload Data</a></li>
                            <li><a href="{{ url_for('match_student') }}">Match Students</a></li>
                            <li><a href="{{ url_for('prepare_email') }}">Prepare Emails</a></li>
                            <li><a href="{{ url_for('settings') }}">Settings</a></li>
                        </ul>
                    </nav>
                </strong>
            </div>
        </header>
        <h1 class="title-text">Change Settings</h1>
        <hr class="title-black-line" />
        <div style="display: flex; flex-direction: column;">

            <!-- Email Directory Field-->
            <div style="display: flex; margin-left: 50px; padding-top:25px; flex-direction:column">
                <div style="display: flex; flex-direction: row;">
                    <div class="settings-bordered-box">
                        <i class="fa fa-folder" style="font-size: 50px; padding-top: 2px; padding-left: 10px; padding-right: 20px" onclick="showCurrentEmailDir()"></i>
                        <form method="post" id="email-dir-form" style="display:flex; flex-direction:row;">
                            <input type="text" id="input-email-dir" name="input-email-dir" placeholder="e.g. C:\\Documents\Email" />
                            <input type="submit" id="submit-email-dir-btn" name="submit-email-dir-btn" value="Email Directory" />
                        </form>
                    </div>

                    <!--Message upon user input-->
                    {% if check[0] %}
                    {% if valid[0] %}
                        <p style="margin-top: 16px; max-height: 5px; margin-left: 180px; color: forestgreen;">Successfully Configured!</p>
                    {% else %}
                        <p style="margin-top: 16px; max-height: 5px; margin-left: 180px; color: red;">Invalid Directory. Please re-enter a valid directory</p>
                    {% endif %}
                    {% endif %}
                </div>

                <p id="currentEmailDirText" style="margin-top: 5px; max-height: 5px"><em>Current Email Directory: {{emailPath}}</em></p>    
            </div>  

            <!-- Resume Directory Field -->
            <div style="display: flex; margin-left: 50px; padding-top: 10px; flex-direction:column;">
                <div style="display: flex; flex-direction: row;">
                    <div class="settings-bordered-box">
                        <i class="fa fa-folder" style="font-size: 50px; padding-top: 2px; padding-left: 10px; padding-right: 20px" onclick="showCurrentResumeDir()"></i>
                        <form method="post" id="resume-dir-form" style="display:flex; flex-direction:row;">
                            <input type="text" id="input-resume-dir" name="input-resume-dir" placeholder="e.g. C:\\Documents\Resume" />
                            <input type="submit" id="submit-resume-dir-btn" name="submit-resume-dir-btn" value="Resume Directory" />
                        </form>
                    </div>

                    <!--Message upon user input-->
                    {% if check[1] %}
                    {% if valid[1] %}
                        <p style="margin-top: 16px; max-height: 5px; margin-left: 180px; color: forestgreen;">Successfully Configured!</p>
                    {% else %}
                        <p style="margin-top: 16px; max-height: 5px; margin-left: 180px; color: red;">Invalid Directory. Please re-enter a valid directory</p>
                    {% endif %}
                    {% endif %}
                </div>

                <p id="currentResumeDirText" style="margin-top: 5px; max-height: 5px"><em>Current Resume Directory: {{resumePath}}</em></p>
            </div>

            <!-- Internship Period Field-->
            <div style="display: flex; margin-left: 50px; padding-top: 25px; flex-direction: column">
                <b style="font-size:large">Internship Period:</b>
                <div class="settings-bordered-box">
                    <form style="display: flex; flex-direction: row">
                        <input type="text" id="internship-period" name="internship-period" style="margin-left: -1px; width: 488px; text-align: center; font-size: x-large; background-color: transparent; cursor: pointer;"/>
                    </form>
                    <i class="fa fa-angle-down" style="font-size: 50px; margin-left: -50px; z-index: -1;"></i>
                </div>
            </div>
        </div>

        <script>
            // For Date Range Picker
            $(function dateRangePicker() {
                $('input[id="internship-period"]').daterangepicker({
                    opens: 'center',
                    "locale": {
                        "format": "DD/MM/YYYY"
                    }
                }, function (start, end, label) {
                    console.log("A new date selection was made: " + start.format('DD-MM-YYYY') + ' to ' + end.format('DD-MM-YYYY'));
                });
            });
        </script>
    </body>
</html>