<!DOCTYPE HTML>
<html>
    <head>
        <title>DevOps Team 5 Settings Page</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head
    <body>
        <header>
            <div class="container">
                <strong>
                    <nav>
                        <ul class="menu">
                            <li><a href="{{ url_for('upload_data') }}">Upload Data</a></li>
                            <li><a href="{{ url_for('match_student') }}">Match Students</a></li>
                            <li><a href="{{ url_for('prepare_email') }}">Prepare Emails</a></li>
                            <li><a href="{{ url_for('settings') }}">Settings</a></li>
                        </ul>
                    </nav>
                </strong>
            </div>
        </header>
        <h1>Settings Page</h1>
    </body>
</html>